* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px 10px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}
nav ulhover {
  color: #B2904C;
}
nav ul a {
  color: #261B6C;
  font-weight: bold;
  text-decoration: none;
  font-family: "avenir_lt_std95_black";
}
nav ul a:hover {
  color: #B2904C;
}
nav ul button {
  height: 55px;
  width: 180px;
  border-radius: 5px;
  margin: 20px 0px;
  border: none;
  background: #B2904C;
  color: white;
  font-weight: 750;
  font-style: normal;
  text-transform: uppercase;
}
nav ul button a {
  color: white;
  text-decoration: none;
  font-family: "avenir_lt_std45_book";
}
nav ul button a:hover {
  color: black;
}
nav .close-btn {
  display: none;
}
nav .hamburger {
  display: none;
}
nav .fa-brands {
  color: white;
  font-size: 40px;
  margin: 0px 20px;
}
nav .fa-brands:hover {
  scale: 1.1;
}

.wrapper {
  padding: 0px 40px;
}
.wrapper .billboard {
  padding: 40px;
  background-image: url(./images/hero-image.png);
  border-radius: 5px;
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .billboard h1 {
  color: white;
  font-size: 47px;
  margin: 20px 0px;
  font-family: Montserrat;
}
.wrapper .billboard p {
  color: white;
  width: 90%;
  margin: 20px 0px;
  font-family: "avenir_lt_std45_book";
}
.wrapper .billboard button {
  height: 55px;
  width: 180px;
  border-radius: 5px;
  margin: 20px 0px;
  border: none;
  background: #B2904C;
  color: white;
  font-weight: 750;
  font-style: normal;
  text-transform: uppercase;
}
.wrapper .billboard button a {
  color: white;
  text-decoration: none;
  font-family: "avenir_lt_std45_book";
}
.wrapper .billboard button a:hover {
  color: black;
}
.wrapper .carousel-items {
  display: flex;
  transition: transform 0.5s;
}
.wrapper .carousel-items img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s;
}
.wrapper .carousel-items img.active {
  transform: scale(1.2);
}

.aboutUS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px 0px 50px;
  padding: 0 40px 0 40px;
}
.aboutUS h1 {
  font-family: Montserrat;
}
.aboutUS button {
  height: 55px;
  width: 180px;
  border-radius: 5px;
  margin: 20px 0px;
  border: none;
  background: #B2904C;
  color: white;
  font-weight: 750;
  font-style: normal;
  text-transform: uppercase;
}
.aboutUS button a {
  color: white;
  text-decoration: none;
  font-family: "avenir_lt_std45_book";
}
.aboutUS button a:hover {
  color: black;
}
.aboutUS .aboutUsContent {
  display: flex;
}
.aboutUS .headerText {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  color: #261B6C;
}
.aboutUS p {
  width: 80%;
  font-size: 20px;
  font-family: "avenir_lt_std45_book";
  color: #261B6C;
}
.aboutUS .aboutFood {
  display: flex;
  margin: 80px 0px;
  gap: 20px;
}
.aboutUS .aboutFood img {
  height: 300px;
  width: 100%;
}

.productRange {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
}
.productRange .productBtn {
  display: flex;
  justify-content: center;
}
.productRange .productBtn button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 180px;
  border-radius: 5px;
  margin: 20px 0px;
  border: none;
  background: #B2904C;
  color: white;
  font-weight: 750;
  font-style: normal;
  text-transform: uppercase;
  width: 250px;
}
.productRange .productBtn button a {
  color: white;
  text-decoration: none;
  font-family: "avenir_lt_std45_book";
}
.productRange .productBtn button a:hover {
  color: black;
}
.productRange .productContent {
  display: flex;
  gap: 20px;
  padding: 0 40px 0 40px;
}
.productRange h2 {
  color: #261B6C;
  position: absolute;
  font-family: Montserrat;
  text-align: center;
}
.productRange .FoodCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin: 100px 0px;
}
.productRange .FoodCard img {
  height: 337px;
  width: 337px;
}
.productRange .FoodCard h3 {
  color: white;
  position: absolute;
  font-family: Montserrat;
  margin: 0px 30px 20px;
}

.factory .content {
  padding: 0 40px 0 40px;
  height: 100vh;
}
.factory .content .contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.factory .content .contentContainer .contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.factory .content .contentContainer .contentText a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 180px;
  border-radius: 5px;
  margin: 20px 0px;
  border: none;
  background: #B2904C;
  color: white;
  font-weight: 750;
  font-style: normal;
  text-transform: uppercase;
  width: 250px;
}
.factory .content .contentContainer .contentText a a {
  color: white;
  text-decoration: none;
  font-family: "avenir_lt_std45_book";
}
.factory .content .contentContainer .contentText a a:hover {
  color: black;
}
.factory .content .contentContainer .contentText h2 {
  color: #261B6C;
  font-family: Montserrat;
}
.factory .content .contentContainer .contentText p {
  width: 80%;
  font-size: 20px;
  font-family: "avenir_lt_std45_book";
  color: #261B6C;
}

.modalip {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalip p {
  width: 70%;
  font-family: "avenir_lt_std45_book";
  color: #261B6C;
}

.modaliHead {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modaliHead h2 {
  margin: 20px auto;
  color: #261B6C;
  font-family: Montserrat;
}
.modaliHead img {
  height: 30px;
  margin: 6px;
}

.factoryForm {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  margin: 0;
  padding: 0;
}
.factoryForm div {
  display: flex;
  gap: 40px;
  padding: 13px 0 0 0;
}
.factoryForm .areaContent {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.factoryForm .areaContent p {
  font-family: "avenir_lt_std45_book";
  color: #261B6C;
}
.factoryForm .areaContent p span {
  color: #261B6C;
  font-family: Montserrat;
  text-decoration: underline;
}
.factoryForm .areaContent label {
  display: block;
  font-family: "avenir_lt_std45_book";
  color: #261B6C;
}
.factoryForm input {
  padding: 20px;
  width: 530px;
  background: #F7F5E8;
  font-family: "avenir_lt_std45_book";
}
.factoryForm select {
  padding: 20px;
  width: 530px;
  background: #F7F5E8;
  font-family: "avenir_lt_std45_book";
}
.factoryForm .check {
  width: 20px;
}

.closebtn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 5px;
}
.closebtn img {
  height: 35px;
}

.donations {
  background-color: #f8f8f8;
}
.donations .content {
  padding: 0 40px 0 40px;
  height: 100vh;
}
.donations .content .contentContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.donations .content .contentContainer .contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-left: 70px;
}
.donations .content .contentContainer .contentText span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 180px;
  border-radius: 5px;
  margin: 20px 0px;
  border: none;
  background: #B2904C;
  color: white;
  font-weight: 750;
  font-style: normal;
  text-transform: uppercase;
  width: 250px;
}
.donations .content .contentContainer .contentText span a {
  color: white;
  text-decoration: none;
  font-family: "avenir_lt_std45_book";
}
.donations .content .contentContainer .contentText span a:hover {
  color: black;
}
.donations .content .contentContainer .contentText .sign {
  display: none;
}
.donations .content .contentContainer .contentText h2 {
  color: #261B6C;
  font-family: Montserrat;
}
.donations .content .contentContainer .contentText p {
  width: 80%;
  font-size: 20px;
  font-family: "avenir_lt_std45_book";
  color: #261B6C;
}

.recipeSection .arrowBtn {
  background-color: #B2904C;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.recipeSection .RecipeInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipeSection h6 {
  font-family: Montserrat;
}
.recipeSection h6 span {
  color: #B2904C;
}
.recipeSection .Tablist {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  border-bottom: 1px solid rgba(38, 27, 108, 0.2470588235);
}

.kids {
  margin: 90px 0px;
  padding: 0 40px 0 40px;
}
.kids .kidscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/hero-image.png);
  height: 76vh;
}
.kids .kidscontainer .KidsText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kids .kidscontainer .KidsText h2 {
  font-family: "3dumbregular";
  color: white;
  font-size: 95px;
}
.kids .kidscontainer .KidsText p {
  text-align: center;
  width: 70%;
  font-size: 20px;
  font-family: "avenir_lt_std45_book";
  color: white;
}
.kids .kidscontainer .KidsText button {
  height: 55px;
  width: 180px;
  background: #FF4655;
  font-family: "avenir_lt_std45_book";
  font-weight: 750;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kids .kidscontainer img {
  position: relative;
  top: 40px;
  width: 781px;
  height: 835px;
}

.promotion {
  margin: 90px 0px;
  padding: 0 40px 0 40px;
}
.promotion .promotionContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/brownbg.png);
  height: 48.5vh;
  padding: 0 40px 0 40px;
}
.promotion .promotionContent img {
  position: relative;
  bottom: 25px;
}
.promotion .promotionContent h2 {
  color: white;
  font-size: 50px;
  font-family: Montserrat;
}
.promotion .promotionContent .buttonIn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.promotion .promotionContent input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  width: 1000px;
  height: 55px;
  background: #C6A460;
  padding: 0px 9px 0px 9px;
  font-family: Montserrat;
  color: white;
}
.promotion .promotionContent inputplaceholder {
  color: white;
}
.promotion .promotionContent button {
  position: absolute;
  top: 0;
  border-radius: 5px;
  right: 0px;
  z-index: 2;
  border: none;
  top: 6px;
  width: 80px;
  height: 40px;
  cursor: pointer;
  color: white;
  background: #261B6C;
  transform: translateX(-9px);
}

footer {
  padding: 0 40px 0 40px;
  background-color: #261B6C;
  height: auto;
  overflow-x: hidden;
}
footer .footerImg {
  display: flex;
  gap: 20px;
}
footer .top {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
}
footer .top .line {
  height: 3px;
  width: 600px;
  background-color: white;
}
footer .top img {
  height: 90px;
}
footer .middle {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}
footer .middle h4 {
  color: white;
  font-family: Montserrat;
}
footer .middle p {
  font-family: "avenir_lt_std45_book";
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
footer .middle li {
  list-style: none;
  color: #FFFFFF;
  margin: 10px 0px;
}
footer .bottom {
  display: flex;
}
footer .bottom .copyright {
  margin: 30px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer .bottom .copyright .copyText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .bottom .copyright .copyText img {
  position: relative;
  bottom: 18px;
}
footer .bottom .copyright p {
  color: white;
  font-family: "avenir_lt_std45_book";
  font-weight: 700;
}
footer .bottom .copyright span {
  color: #B2904C;
}
footer .lines {
  margin: 20px 0px;
  width: 100%;
  height: 1px;
  background-color: white;
}

.mission {
  padding: 0 40px 0 40px;
  margin: 60px 0px;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission .missionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7F5E8;
  height: 30vh;
}
.mission .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.mission .wrapper p {
  width: 70%;
  color: #261B6C;
  font-family: "avenir_lt_std45_book";
}
.mission .wrapper h4 {
  color: #261B6C;
  font-family: Montserrat;
}

.values {
  padding: 0 40px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.values h3 {
  color: #261B6C;
  font-family: Montserrat;
}
.values .CardsContainer {
  margin: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 30px;
}
.values .valueCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.values .valueCard h4 {
  color: #261B6C;
  font-family: Montserrat;
}
.values .valueCard p {
  width: 95%;
  color: #261B6C;
  font-family: "avenir_lt_std45_book";
  text-align: center;
}

.ceo .content {
  margin: 90px 0px;
  padding: 0 40px 0 40px;
}
.ceo .content .contentContainer {
  display: flex;
  gap: 30px;
  flex-direction: row-reverse;
  justify-content: center;
}
.ceo .content .contentContainer .contentText {
  display: flex;
  flex-direction: column;
}
.ceo .content .contentContainer .contentText h2 {
  color: #261B6C;
  font-family: Montserrat;
  margin-bottom: 30px;
}
.ceo .content .contentContainer .contentText p {
  width: 90%;
  font-family: "avenir_lt_std45_book";
  color: #261B6C;
}
.ceo .sign {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.ceo .sign h5 {
  color: #261B6C;
  font-family: Montserrat;
}

.games {
  margin: 90px 0px;
  padding: 0 40px 0 40px;
}
.games .content {
  padding: 0 40px 0 40px;
}
.games .content .contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.games .content .contentContainer .contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.games .content .contentContainer .contentText button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 180px;
  border-radius: 5px;
  margin: 20px 0px;
  border: none;
  background: #B2904C;
  color: white;
  font-weight: 750;
  font-style: normal;
  text-transform: uppercase;
  width: 250px;
}
.games .content .contentContainer .contentText button a {
  color: white;
  text-decoration: none;
  font-family: "avenir_lt_std45_book";
}
.games .content .contentContainer .contentText button a:hover {
  color: black;
}
.games .content .contentContainer .contentText h2 {
  color: white;
  font-family: Montserrat;
}
.games .content .contentContainer .contentText p {
  width: 80%;
  font-size: 20px;
  font-family: "avenir_lt_std45_book";
  color: white;
}
.games .wrapper {
  background-color: #018BF1;
  padding: 40px 0px;
  margin-bottom: 60px;
}
.games .wrapper2 {
  padding: 40px 0px;
  background: #FF4655;
  margin-bottom: 60px;
}
.games .wrapper2 .redbtn {
  color: #FF4655;
  background-color: white;
}
.games .wrapper3 {
  background: #261B6C;
  padding: 40px 0px;
  margin-bottom: 60px;
}

.enquiries {
  background: #F8F8F8;
  margin: 140px 0px;
  padding: 20px 40px 20px 40px;
}
.enquiries .enqText {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.enquiries .enqText a {
  text-decoration: underline;
  color: #261B6C;
  font-family: "avenir_lt_std45_book";
}
.enquiries .enqText h4 {
  color: #261B6C;
  font-family: Montserrat;
}

.ourProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ourProducts h2 {
  margin: 40px 0px;
  color: #261B6C;
  font-family: Montserrat;
}
.ourProducts .breadContainer {
  overflow-x: scroll;
  width: 100%;
}
.ourProducts .breadContainer .valueCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F5E8;
  width: 520px;
  height: auto;
}
.ourProducts .breadContainer .valueCard p {
  width: 80%;
  font-size: 20px;
  font-family: "avenir_lt_std45_book";
  color: #261B6C;
}
.ourProducts .breadContainer .valueCard h4 {
  color: #261B6C;
  font-family: Montserrat;
}

.recipes {
  height: 80vh;
  display: flex;
  padding: 40px;
  align-items: center;
}
.recipes h1 {
  color: #261B6C;
  font-family: Montserrat;
}
.recipes p {
  width: 80%;
  font-size: 20px;
  font-family: Montserrat;
  color: #261B6C;
}
.recipes h5 {
  color: #B2904C;
  font-family: Montserrat;
}

.About {
  background-image: url(/images/aboutimg.png);
  background-position: center;
  background-size: cover;
  height: 78vh;
  border-radius: 10px;
  font-family: "avenir_lt_std95_black";
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 40px 0 40px; /* 40px Left and Right */
}
.About i {
  animation: bounce 0.9s infinite;
}

.Products {
  background-image: url(/images/productimg.png);
  background-position: center;
  background-size: cover;
  height: 78vh;
  border-radius: 10px;
  font-family: "avenir_lt_std95_black";
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 40px 0 40px; /* 40px Left and Right */
}
.Products i {
  animation: bounce 0.9s infinite;
}

.Contact {
  background-image: url(/images/unsliced-loaves-zoomed.jpg);
  background-position: center;
  background-size: cover;
  height: 78vh;
  border-radius: 10px;
  font-family: "avenir_lt_std95_black";
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 40px 0 40px; /* 40px Left and Right */
}
.Contact i {
  animation: bounce 0.9s infinite;
}

.Kids {
  background-image: url(/images/kidsBg.png);
  background-position: center;
  height: 90vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes bounce {
  5% {
    transform: translateY(40px);
  }
}
.modal1 {
  max-width: 750px;
  flex-wrap: wrap;
}

main {
  padding: 2em;
  float: left;
  width: 100%;
}

.table-section {
  padding: 40px 40px;
  margin: 90px 0px;
}

table {
  border-collapse: collapse;
  width: 100%;
  float: left;
  margin: 0 0 2em;
}
table thead {
  border-bottom: 3px solid #B2904C;
}
table thead th {
  padding: 0.35em 0 0.35em;
  color: #261B6C;
  font-family: Montserrat;
  text-align: left;
  font-size: 1.25em;
}
table tbody {
  border-bottom: 3px solid #B2904C;
}
table tbody tr {
  border-bottom: 2px solid #ddd;
}
table tbody tr td {
  padding: 0.75em 0;
  font-family: "avenir_lt_std45_book";
  color: #261B6C;
}
table tbody tr td a {
  color: #B2904C;
  text-decoration: none;
  display: inline-block;
  margin: 0 0.5em 0 0;
}
table tbody tr td a:hover, table tbody tr td a:active, table tbody tr td a:focus {
  color: #8e733d;
  border: none;
}
table tfoot td {
  padding: 0.35em 0 0.35em;
  text-align: left;
  font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.25em;
}

@media screen and (min-width: 1000px) {
  table {
    width: 100%;
  }
  table thead {
    border-bottom: 3px solid #B2904C;
  }
  table tbody tr {
    border-bottom: 1px solid #ddd;
  }
}
#rwd-table {
  display: block;
}
#rwd-table tbody {
  border: none;
}
#rwd-table tbody, #rwd-table th, #rwd-table td, #rwd-table tr, #rwd-table tfoot {
  display: block;
}
#rwd-table thead {
  display: none;
}
#rwd-table tr {
  float: left;
  width: 100%;
  margin: 0 0 1em;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 5px 0px grey;
  border-radius: 4px;
  border-top: 5px solid #B2904C;
}
#rwd-table tr td {
  padding: 0.5em 0.5em 0.5em 50%;
  float: left;
  width: 100%;
}
#rwd-table tr td:before {
  width: 100%;
  display: block;
  float: left;
  padding: 0.5em 0.5em 0.5em 0;
  clear: both;
  margin: -0.5em 0 0 -100%;
  font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.125em;
}
@media screen and (min-width: 600px) {
  #rwd-table {
    display: table;
    border: none;
  }
  #rwd-table tbody {
    border-bottom: none;
  }
  #rwd-table th, #rwd-table td {
    display: table-cell;
  }
  #rwd-table tr {
    border-left: 3px solid #B2904C;
    display: table-row;
    border: none;
    border-bottom: none;
    float: none;
    margin: 0;
    box-shadow: none;
  }
  #rwd-table tr td {
    padding: 0.75em 0 0.75em 0.25em;
    float: none;
    width: auto;
  }
  #rwd-table tr td:before {
    padding: 0 !important;
  }
  #rwd-table thead {
    display: table-header-group;
  }
  #rwd-table tbody, #rwd-table tfoot {
    display: table-row-group;
  }
  #rwd-table tr:nth-of-type(even) {
    background: none;
  }
}

#rwd-table-large {
  display: block;
}
#rwd-table-large tbody {
  border: none;
}
#rwd-table-large tbody, #rwd-table-large th, #rwd-table-large td, #rwd-table-large tr, #rwd-table-large tfoot {
  display: block;
}
#rwd-table-large thead {
  display: none;
}
#rwd-table-large tr {
  float: left;
  width: 100%;
  margin: 0 0 1em;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 5px 0px grey;
  border-radius: 4px;
  border-top: 5px solid #B2904C;
}
#rwd-table-large tr td {
  padding: 0.5em 0.5em 0.5em 50%;
  float: left;
  width: 100%;
}
#rwd-table-large tr td:before {
  width: 100%;
  display: block;
  float: left;
  padding: 0.5em 0.5em 0.5em 0;
  clear: both;
  margin: -0.5em 0 0 -100%;
  font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.125em;
}
@media screen and (min-width: 1000px) {
  #rwd-table-large {
    display: table;
    border: none;
  }
  #rwd-table-large tbody {
    border-bottom: none;
  }
  #rwd-table-large th, #rwd-table-large td {
    display: table-cell;
  }
  #rwd-table-large tr {
    border-left: 3px solid #B2904C;
    display: table-row;
    border: none;
    border-bottom: none;
    float: none;
    margin: 0;
    box-shadow: none;
  }
  #rwd-table-large tr td {
    padding: 0.75em 0 0.75em 0.25em;
    float: none;
    width: auto;
  }
  #rwd-table-large tr td:before {
    padding: 0 !important;
  }
  #rwd-table-large thead {
    display: table-header-group;
  }
  #rwd-table-large tbody, #rwd-table-large tfoot {
    display: table-row-group;
  }
  #rwd-table-large tr:nth-of-type(even) {
    background: none;
  }
}

#rwd-table tbody tr td:nth-of-type(1):before {
  content: "Heading Col 1";
}
@media screen and (min-width: 600px) {
  #rwd-table tbody tr td:nth-of-type(1):before {
    content: "";
  }
}
#rwd-table tbody tr td:nth-of-type(2):before {
  content: "Heading Col 2";
}
@media screen and (min-width: 600px) {
  #rwd-table tbody tr td:nth-of-type(2):before {
    content: "";
  }
}
#rwd-table tbody tr td:nth-of-type(3):before {
  content: "Heading Col 3";
}
@media screen and (min-width: 600px) {
  #rwd-table tbody tr td:nth-of-type(3):before {
    content: "";
  }
}

#rwd-table-large tbody tr td:nth-of-type(1):before {
  content: "Heading Col 1";
}
@media screen and (min-width: 1000px) {
  #rwd-table-large tbody tr td:nth-of-type(1):before {
    content: "";
  }
}
#rwd-table-large tbody tr td:nth-of-type(2):before {
  content: "Heading Col 2";
}
@media screen and (min-width: 1000px) {
  #rwd-table-large tbody tr td:nth-of-type(2):before {
    content: "";
  }
}
#rwd-table-large tbody tr td:nth-of-type(3):before {
  content: "Heading Col 3";
}
@media screen and (min-width: 1000px) {
  #rwd-table-large tbody tr td:nth-of-type(3):before {
    content: "";
  }
}
#rwd-table-large tbody tr td:nth-of-type(4):before {
  content: "Heading Col 4";
}
@media screen and (min-width: 1000px) {
  #rwd-table-large tbody tr td:nth-of-type(4):before {
    content: "";
  }
}

.callback {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.callback h2 {
  color: #261B6C;
  font-family: Montserrat;
}
.callback p {
  color: #261B6C;
  font-family: "avenir_lt_std45_book";
}

form {
  margin: 50px 0px;
}
form input, form select {
  width: 440px;
}
form div {
  display: flex;
  gap: 40px;
  padding: 30px 0 0 0;
}
form input {
  padding: 20px;
  width: 440px;
  background: #F7F5E8;
  font-family: "avenir_lt_std45_book";
}
form select {
  padding: 20px;
  width: 440px;
  background: #F7F5E8;
  font-family: "avenir_lt_std45_book";
}
form #full {
  width: 100%;
}
form textarea {
  width: 100%;
  height: 17vh;
  padding: 30px;
  background: #F7F5E8;
  font-family: "avenir_lt_std45_book";
  color: black;
}
form .area {
  display: flex;
  flex-direction: column;
}
form button {
  height: 55px;
  width: 100%;
  background: #C6A460;
  font-family: "avenir_lt_std45_book";
  font-weight: 750;
  color: white;
}

.recipes {
  margin-bottom: 100px;
}

.recipesContainer {
  display: flex;
  align-items: center;
}

.carousel {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.carousel .carousel-slide {
  position: relative;
  opacity: 1;
  height: 300px;
  width: 300px;
}
.carousel .carousel-slide img {
  width: 100%;
  height: 100%;
}
.carousel .carousel-slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.715);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 20px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s;
}
.carousel .carousel-slide .overlay.hide {
  opacity: 0;
}
.carousel .carousel-slide .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 40px;
}
.carousel .carousel-slide .spinner::before, .carousel .carousel-slide .spinner::after {
  position: absolute;
  content: "";
  top: 6px;
  background-color: #ff3e9e;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  mix-blend-mode: multiply;
  animation: tiktok 2s linear infinite;
}
.carousel .carousel-slide .spinner::after {
  background-color: #4de8f4;
  animation-delay: 1s;
}
@keyframes tiktok {
  0%, 100% {
    top: 6px;
    left: 0px;
    width: 28px;
    height: 28px;
    z-index: 0;
    transform: scale(1);
  }
  25% {
    top: 0px;
    height: 40px;
    width: 40px;
    z-index: 1;
    left: 20px;
    transform: scale(1);
  }
  50% {
    top: 6px;
    width: 28px;
    height: 28px;
    left: 48px;
  }
  75% {
    top: 8px;
    left: 26px;
    width: 24px;
    height: 24px;
    transform: scale(0.9);
  }
}

.ceo span {
  font-family: "bulgattiregular";
  position: relative;
  bottom: 10px;
  left: 18px;
}

@media screen and (max-width: 567px) {
  nav {
    margin: 30px 0px;
  }
  nav ul {
    display: none;
  }
  nav img {
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .wrapper {
    padding: 0;
  }
  .billboard {
    height: 50vh;
    display: flex;
    flex-direction: column-reverse;
  }
  .billboard img {
    display: none;
  }
  .aboutUsContent {
    display: flex;
    flex-direction: column;
  }
  .aboutUsContent p {
    width: 100%;
  }
  .aboutFood {
    overflow-x: scroll;
  }
  .productContent {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .productContent .FoodCard {
    padding: 0;
    margin: 0px;
  }
  .productContent .FoodCard:first-child {
    padding: 0;
    margin: 40px 0px 0px;
  }
  .content {
    margin: 0px;
    padding: 0px;
    height: 70vh;
  }
  .contentText {
    margin: 0;
  }
  .contentText p {
    width: 100%;
  }
  .factory .contentContainer {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: normal;
    justify-content: start;
    margin: 0;
    padding: 0;
  }
  .factory .contentContainer p {
    width: 100%;
  }
  .donations {
    padding: 0;
  }
  .donations .content {
    margin: 0px;
    padding: 0px;
    height: 70vh;
  }
  .donations img {
    display: none;
  }
  .donations .contentText {
    margin: 0;
  }
  .donations .contentText p {
    width: 100%;
  }
  .kids {
    padding: 0;
    height: 100vh;
    margin-bottom: 0px;
  }
  .kidscontainer {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }
  .kids .kidscontainer img {
    position: relative;
    top: 60px;
    width: 781px;
    height: 368px;
  }
  .kids .kidscontainer .KidsText h2 {
    font-size: 50px;
  }
  .tabs1 {
    display: flex;
    flex-direction: column;
  }
  .promotion {
    margin: 90px 0px;
    padding: 0;
  }
  .promotion .promotionContent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-image: url(./images/brownbg.png);
    height: auto;
    padding: 0;
  }
  .promotion .promotionContent h2 {
    color: white;
    font-size: 33px;
    margin: 0;
    width: 90%;
    font-family: Montserrat;
  }
  .promotion .promotionContent input {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 95%;
    height: 55px;
    background: #C6A460;
    padding: 0px 9px 0px 9px;
    font-family: Montserrat;
    color: white;
  }
  footer .middle {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
  }
  footer .top img {
    height: 120px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  footer .bottom .copyright {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .missionContainer {
    display: flex;
    flex-direction: column;
  }
  .mission {
    padding: 0;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ceo .content .contentContainer {
    display: flex;
    gap: 30px;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .carousel .carousel-slide {
    height: 150px;
    width: 150px;
    opacity: 1;
  }
  .recipesContainer {
    display: flex;
    flex-direction: column;
  }
  .recipes p {
    width: 80%;
    font-size: 15px;
    font-family: Montserrat;
    color: #261B6C;
  }
  .games {
    margin: 90px 0px;
    padding: 0;
    height: auto;
  }
  .games .content .contentContainer .contentText p {
    width: 100%;
  }
  .games .content .contentContainer {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .games .content .contentContainer img {
    display: none;
  }
  .Kids {
    background-image: url(./images/kidsBg.png);
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
  }
  form select {
    padding: 20px;
    width: 50%;
    background: #F7F5E8;
    font-family: "avenir_lt_std45_book";
  }
  form input {
    padding: 20px;
    width: 50%;
    background: #F7F5E8;
    font-family: "avenir_lt_std45_book";
  }
  .enquiries .enqText h4 {
    font-size: 15px;
    color: #261B6C;
    font-family: Montserrat;
  }
  .enquiries .enqText a {
    text-decoration: underline;
    color: #261B6C;
    font-family: "avenir_lt_std45_book";
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px 10px;
  }
  nav .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 22;
  }
  nav .hamburger span {
    width: 100%;
    height: 2px;
    background-color: #261b6c;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  nav .hamburger span:first-child {
    transform-origin: top;
  }
  nav .hamburger span:last-child {
    transform-origin: bottom;
  }
  nav .hamburger.open span:first-child {
    transform: rotate(45deg);
  }
  nav .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  nav .hamburger.open span:last-child {
    transform: rotate(-45deg);
  }
  nav a {
    color: #fff; /* Set the default color to white */
  }
  nav ul {
    display: none;
    font: size 22px;
  }
  nav ul.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  nav ul.open a {
    color: #000; /* Set the color to black */
  }
  nav .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: #c6a460;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  nav .overlay.open {
    opacity: 0.9;
    pointer-events: auto;
  }
  nav .overlay.open a {
    color: black;
  }
  nav .overlay .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    z-index: 21;
  }
  nav .overlay ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    margin-top: 50px;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  nav .overlay ul a {
    color: #000; /* Set the color to black */
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  nav .overlay ul a:hover {
    color: rgb(255, 255, 255);
  }
}