@import "_mixins";
$gray-color: #ddd;
$medium-up: 600px;
$large-up: 1000px;
$global-radius: 4px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 40px 10px ;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        list-style: none;
        &hover{
            color: #B2904C;
        }
        a{
            color: #261B6C;
            font-weight: bold
            ;
            text-decoration: none;
            @include boldFont();

            &:hover{
                color: #B2904C;
            }
    }
    button{
        @include buttonStyle;
    }
}
.close-btn{
    display: none;
}
.hamburger{
    display: none;
}
.fa-brands{
    color: white;
    font-size: 40px;
    margin: 0px 20px;
}
.fa-brands:hover{
    scale: 1.1;
}

}
.wrapper{
    padding:0px 40px;


    .billboard{
        padding: 40px;
        background-image: url(./images/hero-image.png);
        background-repeat:no-repeat;
        border-radius: 5px;
        height: 83vh;
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            color: white;
            font-size: 47px;
            margin: 20px 0px;
            font-family: Montserrat;
        }
        p{
            color: white;
            width: 90%;
            margin: 20px 0px;
            @include fontFamily();
        }
        button{
           @include buttonStyle;
        }
        @include mediaQuery (968px,568px){
            display:flex;
            flex-direction:column-reverse;
            align-items:center;
            justify-content:center;
        }
    }
    img{
        @include mediaQuery (567px){
            display:none;
        }
    }
    .col-lg-4{
        @include mediaQuery (968px,568px){
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
        }   
    }

}
.aboutUS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:70px 0px 50px ;
    padding: 0 40px 0 40px;
    h1{
        font-family:Montserrat;
    }
    button{
        @include buttonStyle;
    }
    .aboutUsContent{
        display: flex;
        @include mediaQuery (968px,568px){
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
        }
    }
    .headerText{
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        color: #261B6C;
    }
    p{
        width: 100%;
        font-size: 20px;
        @include fontFamily;
        color: #261B6C;
        text-align:flex-end;
    }
    .aboutFood{
        display: flex;
        margin: 80px 0px;
        gap: 20px;
        img{
            height: 300px;
            width: 100%;
        }
        @include mediaQuery (968px,568px){
            display:flex;
            overflow-x:scroll;
            
        }
    .aboutUsText{
        @include mediaQuery (968px,568px){
            display:flex;
            align-items:center;
            justify-content:center;
        }
    }
    
    }
    @include mediaQuery (968px,568px){
        margin: 70px 0px -50px;
    }
    @include mediaQuery (567px){
        margin: 70px 0px -50px;
    }
   
    
}

.productRange{
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    
  
    .productBtn{
        display: flex;
        justify-content: center;
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            @include buttonStyle;
            width: 250px;
        }

    }
    .productContent{
        
        display: flex;
        gap: 20px;
        padding: 0 40px 0 40px;
    }
    h2{
        color: #261B6C;
        position: absolute;
        font-family: Montserrat;
        text-align: center;
    }
    .FoodCard{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        margin: 70px 0px 40px;
        img{
           
            height: 337px;
            width: 337px;
        }
       h3{
        color: white;
        position: absolute;
        font-family: Montserrat;
        margin: 0px 30px 20px;
       }
    }

}
.factory{
    .content{
        padding: 0 40px 0 40px;
        height: 100vh;
        .contentContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            .contentText{
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100vh;
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include buttonStyle;
                    width: 250px;
                }
                h2{
                    color: #261B6C;
                    font-family: Montserrat;
                }
                p{
                    width: 80%;
                    font-size: 20px;
                    @include fontFamily;
                    color: #261B6C;
                }
                @include mediaQuery (567px){
                   height:80vh;
                }
                @include mediaQuery (992px,568px){
                   height:52vh;
                                     
                }


            }
            @include mediaQuery (992px,568px){
                display:flex;
             flex-direction:column-reverse;
                                 
            }
        }
    }
   
    
}
.modalip{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        width: 70%;
        @include fontFamily;
        color: #261B6C;
    }
}
.modaliHead{
    display: flex;
    justify-content: center;
    align-items: center;
   h2{
    margin: 20px auto;
    color: #261B6C;
    font-family: Montserrat;
   }
   img{
    height: 30px;
    margin: 6px;
   }
}
.factoryForm{
    display: grid;
   grid-template-rows: 1fr 1fr;
   width: 100%;
   margin: 0;
   padding: 0;
   div{
    display: flex;
    gap: 40px;
    padding: 13px 0 0 0;
   }
   
    .areaContent{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            @include fontFamily;
            color: #261B6C;
            span{
                color: #261B6C;
                font-family: Montserrat;
                text-decoration: underline;
            }
        }
        label {
           display: block;
           @include fontFamily;
           color: #261B6C;
          }
    }
    input{
        padding: 20px;
        width: 530px;
        background: #F7F5E8;
        @include fontFamily;
        @include mediaQuery (992px,568px){
           width:50%;
                             
        }
        @include mediaQuery (567px){
            width:50%;
                              
         }
        
       }
       select{
        padding: 20px;
        width: 530px;
        background: #F7F5E8;
        @include fontFamily;
        @include mediaQuery (992px,568px){
            width:50%;
                              
         }
         @include mediaQuery (567px){
             width:50%;
                               
          }

       }
       .check{
        width: 20px;
       }

}
.closebtn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    img{
        height: 35px;
    }
}


.donations{
    background-color: #f8f8f8;
    .content{
        padding: 0 40px 0 40px;
        height: 100vh;
        .contentContainer{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            .contentText{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                height: 100vh;
                margin-left: 70px;
                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include buttonStyle;
                    width: 250px;
                }
                .sign{
                    display: none;
                }
                h2{
                    color: #261B6C;
                    font-family: Montserrat;
                }
                p{
                    width: 80%;
                    font-size: 20px;
                    @include fontFamily;
                    color: #261B6C;
                }
                @include mediaQuery (992px,568px){
                   height:52vh;
                }
                @include mediaQuery (567px){
                   height:80vh;
                }
               
            }
            @include mediaQuery (992px,568px){
                display:flex;
                flex-direction:column-reverse;
               
            }
        }
      
    }
    @include mediaQuery (992px,568px){
       
    }

}
.recipeSection{
    .arrowBtn{
        background-color: #B2904C;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .RecipeInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h6{
        font-family: Montserrat;
       
        span{
            color: #B2904C; 
            
         }

    }
    .Tablist{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        border-bottom: 1px solid #261b6c3f;
    }
    
}
.kids{
    margin: 90px 0px;
    padding: 0 40px 0 40px;
    .kidscontainer{
        display: flex;
        justify-content: center;
        align-items: center;
    background-image: url(./images/hero-image.png);
   height:76vh ;
  .KidsText{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-family: '3dumbregular';
        color: white;
        font-size: 95px;
    }
    p{
     text-align: center;
     width: 70%;
     font-size: 20px;
     @include fontFamily;
     color: white;
 
 
    }
    button{
         height: 55px;
         width: 180px;
         background:#FF4655;
         @include fontFamily();
         font-weight: 750;
         color: white;
         display: flex;
          justify-content: center;
          align-items: center;
 
 
    }
  }
   
    img{
        position: relative;
        top: 40px;
        width: 781px;
        height: 835px;
    }
    }
}

.promotion{
    margin: 90px 0px;
    padding: 0 40px 0 40px;
    .promotionContent{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(./images/brownbg.png);
        height: 48.5vh;
        padding: 0 40px 0 40px;
        img{
            position: relative;
            bottom: 25px;
        }

        h2{
            color: white;
            font-size: 50px;
            font-family: Montserrat;
        }
        .buttonIn {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
          
        input {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px;
            padding: 0px;
            width: 1000px;
            height: 55px;
            background: #C6A460;
            padding: 0px 9px 0px 9px;
            font-family: Montserrat;
            color: white;
            &placeholder{
                color: white;
            }
            @include mediaQuery (992px,568px){
               width:100%;
                 
              }
        }
          
        button {
            position: absolute;
            top: 0;
            border-radius: 5px;
            right: 0px;
            z-index: 2;
            border: none;
            top: 6px;
            width: 80px;
            height: 40px;
            cursor: pointer;
            color: white;
             background: #261B6C;
            transform: translateX(-9px);
        }
        @include mediaQuery (992px,568px){
           display:flex;
           flex-direction:column-reverse;
           height:76vh;
           
        }
    }
    @include mediaQuery (992px,568px){
       padding:0;
        
     }

}
footer{
    padding: 0 40px 0 40px;
    background-color: #261B6C;
    height: auto;
    overflow-x: hidden;
    .footerImg{
        display: flex;
        gap: 20px;
    }
    .top{
        margin-top:20px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 20px;
        .line{
            height: 3px;
            width: 600px;
            background-color: white;
        }
        img{
            height: 90px;
        }
    }
    .middle{
        display: flex;
        gap: 30px;
        margin-top: 40px;
        h4{
            color: white;
            font-family: Montserrat;
        }
        p{
            @include fontFamily();
            font-weight: 400;
            line-height: 31px;
            letter-spacing: 0em;
            text-align: left;
            color:  #FFFFFF;

        }
        li{
            list-style: none;
            color:  #FFFFFF;
            margin: 10px 0px;
            @include mediaQuery (992px,568px){
                display:flex;   
               }
        }
        @include mediaQuery (992px,568px){
            display:flex;
            flex-direction:column    
           }
    }
    .bottom{
        display: flex;
        .copyright{
            margin:30px 0px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            .copyText{
                display: flex;
                justify-content: center;
                align-items: center;   
                gap: 20px;
                img{
                    position: relative;
                    bottom:18px ;
                }
            }
            p{
                
                color: white;
                @include fontFamily();
                font-weight: 700;
            }
            span{
                color: #B2904C;
            }
            @include mediaQuery (992px,568px){
                display:flex;
                flex-direction:column    
               }
        }
        @include mediaQuery (992px,568px){
            display:flex;
            flex-direction:column    
           }
    
    }
    .lines{
        margin: 20px 0px;
        width: 100%;
        height: 1px;
        background-color: white;
    }

}

.mission{
    padding: 0 40px 0 40px;
    margin: 60px 0px;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .missionContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:  #F7F5E8;
        height: 30vh;
    }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        p{
            width: 70%;
            color: #261B6C;
            @include fontFamily();
        }
        h4{
            color: #261B6C;
            font-family: Montserrat;

        }
    }

}
.values{
    padding: 0 40px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        color: #261B6C;
            font-family: Montserrat;

    }
    .CardsContainer{
        margin: 50px 0px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        max-width: 100%;
        flex-wrap: wrap;
        gap: 30px;
    }
    .valueCard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        h4{
            color: #261B6C;
                font-family: Montserrat;
    
        }
        p{
            width: 95%;
            color: #261B6C;
            @include fontFamily();
            text-align: center;
            @include mediaQuery (992px,568px){
                width:60%;
                                   
              }
             
        }
    }
    
}

.ceo{
    .content{
        margin: 90px 0px;
        padding: 0 40px 0 40px;
        .contentContainer{
            display: flex;
            gap: 30px;
            flex-direction: row-reverse;
            justify-content: center;
            .contentText{
                display: flex;
                flex-direction: column;
            
                h2{
                    color: #261B6C;
                    font-family: Montserrat;
                    margin-bottom: 30px;
                }
                p{
                    width: 90%;
                    @include fontFamily;
                    color: #261B6C;
                }
            }
            @include mediaQuery (992px,568px){
                display:flex;
                flex-direction:column-reverse;    
               }
        }
    }
    .sign{
        display: flex;
        margin-top: 30px;
        justify-content: center;
        h5{
            color: #261B6C;
            font-family: Montserrat;

        }
    }
}

.games{
    margin: 90px 0px;
    padding: 0 40px 0 40px;
    .content{
        padding: 0 40px 0 40px;
        .contentContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            .contentText{
                display: flex;
                flex-direction: column;
                justify-content: center;
                button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include buttonStyle;
                    width: 250px;
                }
                
                h2{
                    color: white;
                    font-family: Montserrat;
                }
                p{
                    width: 80%;
                    font-size: 20px;
                    @include fontFamily;
                    color: white;
                }
            }
            @include mediaQuery (992px,568px){
                display:flex;
             flex-direction:column;
                                 
            }
        }
    }
    .wrapper{
           background-color: #018BF1;
           padding: 40px 0px;
           margin-bottom: 60px;
    }
    .wrapper2{
        padding: 40px 0px;
        background: #FF4655;
        margin-bottom: 60px;
        .redbtn{
            color: #FF4655;
            background-color: white;
        }
       

    }
    .wrapper3{
        background: #261B6C;
        padding: 40px 0px;
        margin-bottom: 60px;

    }
}
.enquiries{
    background: #F8F8F8;
    margin: 140px 0px;
    padding: 20px 40px 20px 40px;
    .enqText{
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            text-decoration: underline;
            color: #261B6C;
            @include fontFamily;
        }
        h4{
            color: #261B6C;
            font-family: Montserrat;

        }
    }

}
.ourProducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        margin: 40px 0px;
        color: #261B6C;
            font-family: Montserrat;

    }
   
    .breadContainer{
        overflow-x: scroll;
        width: 100%;
        .valueCard{
            display: flex;
            flex-direction: column;
            align-items: center;
             background-color: #F7F5E8;
             width: 520px;
             height: auto;
            
             p{
                width: 80%;
                font-size: 20px;
                @include fontFamily;
                color: #261B6C;
                @include mediaQuery (567px){
                    width:60%;
                                       
                  }
    
    
             }
             h4{
                color: #261B6C;
                font-family: Montserrat;
    
             }
             @include mediaQuery (567px){
                width:auto;
                                   
              }
        }
    }
   
}
.recipes{
    height: 80vh;
    display: flex;
    padding: 40px;
    align-items: center;
    h1{
        color: #261B6C;
                font-family: Montserrat;

    }
    p{
        width: 80%;
        font-size: 20px;
        font-family: Montserrat;
        color: #261B6C;
     }
     h5{
        color: #B2904C;
        font-family: Montserrat;

     }
}




.About{
    background-image:url(/images/aboutimg.png) ;
    @include Home-layout();

    i{
        animation: bounce  0.9s infinite;

    }
}
.Products{
    background-image:url(/images/productimg.png) ;
    @include Home-layout();
    i{
        animation: bounce  0.9s infinite;

    }
}
.Contact{
    background-image:url(/images/unsliced-loaves-zoomed.jpg) ;
    @include Home-layout();
    i{
        animation: bounce  0.9s infinite;

    }
}
.Kids{
    background-image: url(/images/kidsBg.png);
    background-position: center;
    height: 90vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    @include mediaQuery (992px,568px){
      height:60vh;
                         
    }
}

@keyframes bounce{
        5%{
          transform: translateY(40px);
        }
}

    .modal1{
        max-width:750px ;
        flex-wrap: wrap;
    }

    @mixin heading-font-regular {
        font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;;
    }
    
    
    
    main {
      padding: 2em;  
      float: left;
      width: 100%;
    }
    
   .table-section{
    padding: 40px 40px;
    margin: 90px 0px;
   }
    table {
        border-collapse: collapse;
        width: 100%;
        float: left;
       margin: 0 0 2em;
        thead {
            border-bottom: 3px solid #B2904C;
            th {
                padding: 0.35em 0 .35em;
                color: #261B6C;
                font-family: Montserrat;
                text-align: left;
                font-size: 1.25em;
            }
            
        }
    
        tbody {
            border-bottom: 3px solid #B2904C;
            tr {
                border-bottom: 2px solid #ddd;
                
           
                td {
                    padding: .75em 0;
                    @include fontFamily;
                    color: #261B6C;
    
                    a {
                        color: #B2904C;
                        text-decoration: none;
                        display: inline-block;
                        margin: 0 .5em 0 0;
                        &:hover, &:active, &:focus {
                            color: darken(#B2904C, 10%);
                            border: none;
                        }
                    }
                }
            }
        }
    
        tfoot {
            td {
                padding: 0.35em 0 .35em;
    
                text-align: left;
                @include heading-font-regular;
                font-size: 1.25em;
            }
        }
    }
    
    @media screen and (min-width: $large-up) {
      table {
            width: 100%;
    
            thead {
                border-bottom: 3px solid #B2904C;
                
                
            }
    
            tbody {
                tr {
                    border-bottom: 1px solid #ddd;
                   
                }
            }
        }
    }
    
    ///RWD MIXIN BELOW
    @mixin rwd-first {
        display: block;
      
    
      tbody {
        border: none;
      }
            tbody, th, td, tr, tfoot {
                display: block; 
            }
    
            thead {
                display: none;
            }
            tr {
          float: left;
          width: 100%;
          margin: 0 0 1em;
           border: 1px solid $gray-color;
                box-shadow: 0px 2px 5px 0px grey;
                border-radius: $global-radius;
                border-top: 5px solid #B2904C;
    
                td {
                    padding: .5em .5em .5em 50%;
                    float:left;
                width: 100%;
                    &:before {
                        width: 100%;
                        display: block;
                        float: left;
                        padding: .5em .5em .5em 0;
                        clear: both;
                        margin: -.5em 0 0 -100%;
                        @include heading-font-regular;
                        font-size: 1.125em;
    
                    }
                }
            }
    
            tr:nth-of-type(even) {
                //background: $gray-color;
                td {
                    
                    &:before {
                        
                    }
                }
            }
    }
    
    @mixin rwd-second {
        display: table;
        border: none;
    
      tbody {
        border-bottom: none;
      }
        th, td {
            display: table-cell; 
        }
    
        tr {
            border-left: 3px solid #B2904C;
            display: table-row;
            border: none;
            border-bottom: none;
        float: none;
        margin: 0;
            box-shadow: none;
    
            td {
                padding: .75em 0 0.75em .25em;
          float: none;
          width: auto;
    
                &:before {
                    padding: 0 !important;
                }
            }
        }
    
        thead {
            display: table-header-group;
        }
    
        tbody,tfoot {
            display: table-row-group;
        }
    
        tr:nth-of-type(even) {
            background:none;
        }
    }
    
    %responive-tables {
        @include rwd-first;
    
        @media screen and (min-width: $medium-up) { 
            @include rwd-second;
            
        }
    }
    
    %responive-tables-large {
        @include rwd-first;
    
        @media screen and (min-width: $large-up) { 
            @include rwd-second;
            
        }
    }
    
    @mixin responive-tables($headings...) {
        $list: $headings;
    
        @each $list-headings in $list {
            $i: index($list, $list-headings);
            tbody tr td:nth-of-type(#{$i}):before { 
                content: $list-headings; 
            }
            
            @media screen and (min-width: $medium-up) { 
                tbody tr td:nth-of-type(#{$i}):before { 
                    content: ''; 
                }
            }
    
        }
    }
    
    @mixin responive-tables-large($headings...) {
        $list: $headings;
    
        @each $list-headings in $list {
            $i: index($list, $list-headings);
            tbody tr td:nth-of-type(#{$i}):before { 
                content: $list-headings; 
            }
            
            @media screen and (min-width: $large-up) { 
                tbody tr td:nth-of-type(#{$i}):before { 
                    content: ''; 
                }
            }
    
        }
    }
    
    #rwd-table {
        @extend %responive-tables;
        @include responive-tables('Heading Col 1', 'Heading Col 2', 'Heading Col 3');
    }
    
    #rwd-table-large {
        @extend %responive-tables-large;
        @include responive-tables-large('Heading Col 1', 'Heading Col 2', 'Heading Col 3','Heading Col 4');
    }

    .callback{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            color: #261B6C;
            font-family: Montserrat;
        }
        p{
            color: #261B6C;
            @include fontFamily;

        }
    }
    form{
        margin: 50px 0px;
       input,select{
        width: 440px; 
       }
       div{
        display: flex;
        gap: 40px;
        padding: 30px 0 0 0;
       }
       input{
        padding: 20px;
        width: 440px;
        background: #F7F5E8;
        @include fontFamily;
        @include mediaQuery (992px,568px){
            width:50%;
                               
          }
       }
       select{
        padding: 20px;
        width: 440px;
        background: #F7F5E8;
        @include fontFamily;

       }
       #full{
        width: 100%;
       }
       textarea{
        width: 100%;
        height: 17vh;
        padding: 30px;
        background: #F7F5E8;
        @include fontFamily;
        color: black;

       }
       .area{
        display: flex;
        flex-direction: column;
       }
       button{
        height: 55px;
        width: 100%;
        background:#C6A460;

        @include fontFamily();
        font-weight: 750;
        color: white;
        


       }
    }
    .recipes{
        margin-bottom: 100px;
    }


      .recipesContainer{
        display: flex;
        align-items: center;
        @include mediaQuery (992px,568px){
            display:flex;
         flex-direction:column;
                             
        }

      }

      .carousel {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
      
        .carousel-slide {
          position: relative;
          opacity: 1;
          height: 300px;
          width: 300px;

      
          img {
            width: 100%;
            height: 100%;
          }
      
          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.715);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            padding: 20px;
            text-align: center;
            opacity: 1;
            transition: opacity 0.5s;
      
            &.hide {
              opacity: 0;
            }
          }
      
          .spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80px;
            height: 40px;
      
            &::before,
            &::after {
              position: absolute;
              content: '';
              top: 6px;
              background-color: #ff3e9e;
              width: 28px;
              height: 28px;
              border-radius: 20px;
              mix-blend-mode: multiply;
              animation: tiktok 2s linear infinite;
            }
      
            &::after {
              background-color: #4de8f4;
              animation-delay: 1s;
            }
          }
        }
      
        @keyframes tiktok {
          0%,
          100% {
            top: 6px;
            left: 0px;
            width: 28px;
            height: 28px;
            z-index: 0;
            transform: scale(1);
          }
          25% {
            top: 0px;
            height: 40px;
            width: 40px;
            z-index: 1;
            left: 20px;
            transform: scale(1);
          }
          50% {
            top: 6px;
            width: 28px;
            height: 28px;
            left: 48px;
          }
          75% {
            top: 8px;
            left: 26px;
            width: 24px;
            height: 24px;
            transform: scale(0.9);
          }
        }
      }
      .ceo{

        span{
            font-family: 'bulgattiregular';
           position: relative;
           bottom: 10px;
           left: 18px;
        }
      }

    @media screen and (max-width: 567px){
        nav{
            margin: 30px 0px;
           ul{
             display: none;
           }
           img{
            width: 50%;
             object-fit: contain;
           }
        }
        .wrapper{
            padding: 0;
        }
        .billboard{
            height: 50vh;
            display: flex;
            flex-direction: column-reverse;
            img{
                display: none;
            }
        }
        .aboutUsContent{
            display: flex;
             flex-direction:column;
              p{
                width: 100%;
               }
    }
    .aboutFood{
        overflow-x: scroll;
    }
    .productContent{
        display: flex;
        flex-direction: column;
       margin: 0;
       .FoodCard{
        padding: 0;
        margin:0px;
       }
       .FoodCard:first-child{
        padding: 0;
        margin: 40px 0px 0px;
       }

    }
    .content{
        margin: 0px;
        padding: 0px;
        height: 70vh;
    }
    .contentText{
        margin: 0;
        p{
            width: 100%;
        }
    }
    .factory .contentContainer{
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: normal;
        justify-content: start;
        margin: 0;
        padding: 0;
        p{
            width: 100%;
        }
    }
    .donations{
        padding: 0;
        .content{
            margin: 0px;
            padding: 0px;
            height: 70vh;

        }
        img{
            display: none;
        }
        .contentText{
            margin: 0;
            p{
                width: 100%;
            }
        }
       
       
    }
    .kids{
        padding: 0;
        height: 100vh;
        margin-bottom: 0px;
       
    }
    .kidscontainer{
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    
    }
    .kids .kidscontainer img {
        position: relative;
         top: 60px; 
        width: 781px;
        height: 368px;
    }
    .kids .kidscontainer .KidsText h2{
        font-size: 50px;
        margin-top: 6px;
    }
    .tabs1{
        display: flex;
       flex-direction:column;
       
    }
    .promotion {
        margin: 90px 0px;
        padding: 0 ;
    }
    .promotion .promotionContent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-image: url(./images/brownbg.png);
    height:auto;
    padding: 0;
}
.promotion .promotionContent h2 {
    color: white;
    font-size: 33px;
    margin: 0;
    width: 90%;
    font-family: Montserrat;
}
.promotion .promotionContent input {
    display: flex; 
    margin: 0px;
    padding: 0px;
    width: 95%;
    height: 55px;
    background: #C6A460;
    padding: 0px 9px 0px 9px;
    font-family: Montserrat;
    color: white;
}
footer .middle {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}
footer .top img {
    height: 120px;
    object-fit: contain;
}
footer .bottom .copyright {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.missionContainer{
    display: flex;
    flex-direction: column;
}
.mission {
    padding: 0;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ceo .content .contentContainer {
    display: flex;
    gap: 30px;
    flex-direction: column-reverse;
    justify-content: center;
}
.carousel .carousel-slide{
    height: 150px;
    width: 150px;
    opacity: 1;
}
.recipesContainer{
    display: flex;
    flex-direction: column;
}
.recipes p {
    width: 80%;
    font-size: 15px;
    font-family: Montserrat;
    color: #261B6C;
}
.games {
    margin: 90px 0px;
    padding: 0 ;
    height: auto;
}
.games .content .contentContainer .contentText p {
    width: 100%;
}
.games .content .contentContainer {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        display: none;
    }
}
.Kids {
    background-image:url(./images/kidsBg.png);
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    
}
form select {
    padding: 20px;
    width: 50%;
    background: #F7F5E8;
    font-family: "avenir_lt_std45_book";
}
form input {
    padding: 20px;
    width: 50%;
    background: #F7F5E8;
    font-family: "avenir_lt_std45_book";
}
.enquiries .enqText h4 {
    font-size: 15px;
    color: #261B6C;
    font-family: Montserrat;
}
.enquiries .enqText a {
    text-decoration: underline;
    color: #261B6C;
    font-family: "avenir_lt_std45_book";
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px 10px;
  
    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 20px;
      cursor: pointer;
      z-index: 22;
  
      span {
        width: 100%;
        height: 2px;
        background-color: #261b6c;
        transition: transform 0.3s ease, opacity 0.3s ease;
  
        &:first-child {
          transform-origin: top;
        }
  
        &:last-child {
          transform-origin: bottom;
        }
      }
  
      &.open {
        span {
          &:first-child {
            transform: rotate(45deg);
          }
  
          &:nth-child(2) {
            opacity: 0;
          }
  
          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }
    a {
        color: #fff; /* Set the default color to white */
      }
  
    ul {
      display: none;
      font: size 22px; 
  
      &.open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
          a {
          color: #000; /* Set the color to black */
        }
      }
    }
  
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 20;
      background-color: #c6a460;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
  
      &.open {
        opacity: 0.9;
        pointer-events: auto;
        a{
            color:black;
        }
      }
      
  
      .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        z-index: 21;
      }
  
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        height: 100%;
        margin-top: 50px;
        padding: 0;
        list-style: none;
  
        a {
         
          color: #000; /* Set the color to black */
          font-weight: bold;
          text-decoration: none;
          transition: color 0.3s ease;
  
          &:hover {
            color: rgb(255, 255, 255);
          }
        }
      }
    }
  }       
}
      
      

      
     
      
     
    
    


